# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.idea
*.log

# Distribution / Packaging
*.egg-info
*.eggs
build
dist

# Unit test / coverage files
.tox/
.coverage
.coverage.*
htmlcov/

Lib/support/axes.py

Lib/support/mutatorMath-A.py

Lib/support/mutatorMath-B.py

Lib/support/mutatorMath-performance.py

.coverage
.coverage.*
Lib/mutatorMath/test/ufo/testData
Lib/mutatorMath/test/ufo/data/instances
Lib/mutatorMath/test/ufo/data/no_warpmap_test.designspace
Lib/mutatorMath/test/ufo/data/warpmap_test.designspace
