git+https://github.com/typesupply/defcon.git@ufo3#egg=defcon
git+https://github.com/typesupply/fontMath.git@ufo3#egg=fontMath
git+https://github.com/unified-font-object/ufoLib.git#egg=ufoLib
git+https://github.com/behdad/fonttools.git#egg=fonttools