git+https://github.com/behdad/fonttools.git#egg=fonttools
git+https://github.com/unified-font-object/ufoLib.git#egg=ufoLib
git+https://github.com/typesupply/defcon.git#egg=defcon
git+https://github.com/typesupply/fontMath.git#egg=fontMath
